body{
	font-family: "Comic Sans MS", cursive, sans-serif;
}
h1{
	text-align: center;
	padding: 30px 0 0 0;
}
.container{
	margin: 0px 0px 0 50px;
	
}
.block__1{
	margin: 100px 50px 0 0px;
	margin-bottom: 20px;
	position: relative;
	border: 3px solid;
	font-size: 20px;
	background-color: gray;
	box-sizing: border-box;
}
.mark{
	overflow: none;
	float: right;
	width: 170px;
	height: 30px;
	border: 3px solid;
	text-align: center;
	font-weight: 800;
	font-size: 23px;
	background-color: rgb(218, 133, 133);
	margin: -3px -3px 0;

}
.text{
	padding: 40px 10px 20px 10px;

}
.block__2{
	margin: 100px 50px 0 0px;
	margin-bottom: 20px;
	position: relative;
	border: 3px solid;
	font-size: 20px;
	background-color: gray;
	box-sizing: border-box;
}
.mark2{
	float: right;
	width: 170px;
	height: 30px;
	border: 3px solid black;
	text-align: center;
	font-weight: 800;
	font-size: 23px;
	background-color: rgb(129, 5, 5);
	color: white;
	margin: -3px -3px 0;
}
.block__3{
	position: relative;
	margin: 100px 0px 0 0px;
	margin-bottom: 20px;
	width: 90%;
	border: 3px solid;
	font-size: 20px;
	background-color: gray;
	box-sizing: border-box;
}
.mark3{
	float: right;
	width: 170px;
	height: 30px;
	border: 3px solid;
	text-align: center;
	font-weight: 800;
	font-size: 23px;
	background-color: rgb(218, 209, 92);
	margin: -3px -3px 0;
}






@media(min-width:992px) {
	.column-1g-4 {
		float: left;
		width: 33%;
	}
}

@media(min-width:768px) and (max-width:991px) {
	.colmn-md-6 {
		float: left;
		width: 50%;
		margin-left: auto;
		margin-right: auto;
		.block__3{
			width: 187%;
		}
	}


	.colmn-md-12 {
		float: left;
		width: 100%;
		margin-right: auto;
		margin-left: auto;
	}
}

@media(max-width:767px) {
	.colmn-sm-12 {
		float: left;
		width: 100%;
	}
}
